$mainFont: 'Roboto';
$secondaryFont: 'Raleway';

:root {
  --header-background-color: #292c3d;
  --modal-background-color: #14161e;
  --modal-text-color: #cfd0d3;
  --primary-text-color: #ffffff;
  --secondary-text-color: #d0d2d5;
  --border-text-color: #aeb1b6;
  --card-footer-text-color: #aeb1b6;
  --white-text-color: #ffffff;
  --green-color: #4ac18e;
  --vertical-line-color: #315450;
  --footer-link-color: #47b887;
  --accent-color: #ee9d23;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);

  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}
